<section class="hero pt-7 pt-md-9 pt-xl-13 pt-xxl-17">
    <div class="container z-1 position-relative">
        <div class="row">
            <div class="col-12">
                <div class="text-center wow animate__animated animate__bounceInUp" data-wow-delay=".2s">
                    <h2 class="font-special">The Fighting <span>36th</span></h2>
                    <h6 class="font-special">Milsim Gaming Brotherhood</h6>
                    <a href="{{DISCORD_INVITE_URL}}" class="btn btn-special">Apply Today</a>
                </div>
            </div>
        </div>
    </div>
</section>