<div class="card bg-transparent mb-xl-5 stream">
    <img src="/img/example_stream.jpg" class="card-img-top" alt="...">
    <span class="badge bg-primary text-uppercase live-indicator">Live</span>
    <div class="card-body">
        <div class="row g-2">
            <div class="col-auto">
                <a href="#"><img src="/img/example_avatar.png" alt="" class="avatar rounded-circle"/></a>
            </div>

            <div class="col">
                <h3 class="text-uppercase fw-bold font-secondary mb-0 stream-title"><a href="#">Some Stream Title</a></h3>
                <div class="text-muted fw-light stream-author"><a class="link-muted" href="#">XlDominate</a></div>
                <div class="text-muted fw-light stream-game"><a class="link-muted" href="#">Battlefield V</a></div>
            </div>
        </div>
    </div>
</div>