{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-10 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Unit <span class="text-primary">Application</span></h1>
        {{> breadcrumbs title="Unit Application" }}
    </div>
</section>

<main class="mt-xl-n6 application-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6">
                <form action="#" method="post" class="mb-6">
                    <!-- Question 1 -->
                    <div class="mb-4">
                        <label class="form-label">What is your Xbox Live Gamertag?</label>
                        <input type="text" class="form-control">
                    </div>

                    <!-- Question 2 -->
                    <div class="mb-4">
                        <label class="form-label">How did you hear about our unit?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 3 -->
                    <div class="mb-4">
                        <label class="form-label">Have you ever participated in a MilSim before? <strong>If yes, please explain the circumstance for your leaving.</strong></label>
                        <select class="form-select mb-3">
                            <option value="">Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>

                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 4 -->
                    <div class="mb-4">
                        <label class="form-label">Are you able to communicate your absences at least 24 hours before any scheduled event?</label>
                        <select class="form-select">
                            <option value="">Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Question 5 -->
                    <div class="mb-4">
                        <label class="form-label">Are you currently serving or have you served in the United States Armed Forces?</label>
                        <select class="form-select">
                            <option value="">Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Question 6 -->
                    <div class="mb-4">
                        <label class="form-label">Are you willing to put aside the "Lone Wolf" aspect and become a team member by listening to and following orders given to your by the person in your command?</label>
                        <select class="form-select">
                            <option value="">Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Question 7 -->
                    <div class="mb-4">
                        <label class="form-label">What are your top 2 preferred classes?</label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="assault" id="assault" name="preferred_classes">
                            <label class="form-check-label" for="assault">
                                Assault
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="medic" id="medic" name="preferred_classes">
                            <label class="form-check-label" for="medic">
                                Medic
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="support" id="support" name="preferred_classes">
                            <label class="form-check-label" for="support">
                                Support
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="recon" id="recon" name="preferred_classes">
                            <label class="form-check-label" for="recon">
                                Recon
                            </label>
                        </div>
                    </div>

                    <!-- Question 8 -->
                    <div class="mb-4">
                        <label class="form-label">Why do you want to be a part of the 36th?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 9 -->
                    <div class="mb-4">
                        <label class="form-label">What makes you a great fit for our community?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 10 -->
                    <div class="mb-4">
                        <label class="form-label">What do you feel is the best thing you can contribute to this community?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 11 -->
                    <div class="mb-4">
                        <label class="form-label">Are you interested in taking on a leadership role?</label>
                        <select class="form-select">
                            <option value="">Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Question 12 -->
                    <div class="mb-4">
                        <label class="form-label">What is your personal definition of "communication"?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <!-- Question 13 -->
                    <div class="mb-4">
                        <label class="form-label">What is your personal definition of "merit"?</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    <p class="mb-4">
                        Before submitting this application, please ensure that all of your answers are the best answers that you can give,
                        as they can and will have an effect on whether or not you are accepted into this unit. Please take them seriously.
                    </p>

                    <button class="btn btn-special">submit</button>
                </form>
            </div>
        </div>
    </div>
</main>