{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-10 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Unit <span class="text-primary">Application</span></h1>
        {{> breadcrumbs title="Unit Application" }}
    </div>
</section>

<main class="mt-xl-n6 application-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6" id="application-vue"/>
        </div>
    </div>
</main>