{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-10 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Contact <span class="text-primary">Us</span></h1>
        {{> breadcrumbs title="Contact Us" }}
    </div>
</section>

<main class="mt-xl-n6 contact-page">
    <div class="container">
        <form action="#" method="post" class="mb-3 mb-xl-5">
            <div class="row mb-3">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" placeholder="Your Name" class="form-control">
                </div>

                <div class="col-sm-6">
                    <input type="email" placeholder="Your Email" class="form-control">
                </div>
            </div>

            <textarea name="message" id="message" class="form-control mb-4" rows="5" placeholder="Your Message"></textarea>

            <button class="btn btn-special">submit</button>
        </form>
    </div>
</main>