{{> header/index }}

<section class="page-info bg-4 py-12">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Game <span class="text-primary">Divisions</span></h1>
        {{> breadcrumbs title="Game divisions" }}
    </div>
</section>

<main>
</main>