{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-10 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Unit <span class="text-primary">History</span></h1>
        {{> breadcrumbs title="Unit History" }}
    </div>
</section>

<main class="mt-xl-n6 history-page">
    <div class="container">
        <div class="timeline mt-2 mb-6">
            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2021</h4>
                </div>

                <div class="timeline-entry-info">
                    <h5>April</h5>

                    <div>
                        <p>The Fighting 36th was able to field a third 32 man team template, and our numbers reached over 120 people.</p>
                    </div>

                    <h5>February</h5>

                    <div>
                        <p>The 36th Engineer Regiment renamed to “The Fighting 36th”.</p>
                    </div>

                    <h5>January</h5>

                    <div>
                        <p>The 36th Engineer Regiment was able to obtain a second affiliate through a veteran ran business, Grill Your Ass Off.</p>
                    </div>
                </div>
            </div>

            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2020</h4>
                </div>

                <div class="timeline-entry-info">
                    <h5>November</h5>

                    <div>
                        <p>The 36th Engineer Regiment began working on automating much of the joining process through our resident IT specialist.</p>
                    </div>

                    <h5>September</h5>

                    <div>
                        <p>The 36th Engineer Regiment was able to field a second 32 man team template. </p>
                    </div>

                    <h5>July</h5>

                    <div>
                        <p>The 36th Engineer Regiment was able to obtain our first sponsor with Rogue Energy & field a 32 man team.</p>
                    </div>

                    <h5>May</h5>

                    <div>
                        <p>The 36th Engineer Regiment was recreated, with the original goal in mind.</p>
                    </div>
                </div>
            </div>

            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2019</h4>
                </div>

                <div class="timeline-entry-info">
                    <h5>December</h5>

                    <div>
                        <p>The 36th Engineer Regiment split and an offshoot was created, the 2nd Marine Division.</p>
                    </div>

                    <h5>September</h5>

                    <div>
                        <p>The 36th Engineer Regiment was able to field three 32 man team templates.</p>
                    </div>

                    <h5>May</h5>

                    <div>
                        <p>The 36th Engineer Regiment fielded its first 32 man team template.</p>
                    </div>

                    <h5>February</h5>

                    <div>
                        <p>The 36th Engineer Regiment was created to help create a safe environment for military veterans & first responders.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>