{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-8 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Unit <span class="text-primary">History</span></h1>
        {{> breadcrumbs title="Unit History" }}
    </div>
</section>

<main class="history-page">
    <div class="container">
        <div class="timeline my-6">
            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2001</h4>
                </div>

                <div class="timeline-entry-info">
                    <h4>Some Title</h4>

                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque.
                            Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
            </div>

            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2001</h4>
                </div>

                <div class="timeline-entry-info">
                    <h4>Some Title</h4>

                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque.
                            Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
            </div>

            <div class="timeline-entry">
                <div class="timeline-entry-when">
                    <h4>2001</h4>
                </div>

                <div class="timeline-entry-info">
                    <h4>Some Title</h4>

                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque.
                            Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>