{{> header/index }}

<main>
    {{> hero }}

    <section class="bg-1 py-5 py-xl-12 intro">
        <div class="container">
            <div class="row justify-content-between align-items-md-center align-items-xl-start mb-5 mb-xl-8">
                <div class="col-md-6 mb-4">
                    <div class="position-relative">
                        <h2 class="font-special">More than a</h2>

                        <div class="ps-6 mg-4 mb-xl-5">
                            <h2 class="text-primary font-special">Milsim</h2>
                            <span class="font-special text-primary text-rotated p-2">Brotherhood</span>

                            <p>
                                We are an 18+ team dedicated to playing the latest Battlefield installment where our mission is to
                                provide military veterans – and other gamers – a welcoming environment to grow, communicate,
                                and push themselves daily to better their skillset through leadership opportunities &amp; skill progression.
                            </p>
                        </div>

                        <div class="text-center text-xl-start">
                            <a href="#" class="btn btn-special">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="col-auto col-md-6">
                    <div class="position-relative z-1 float-md-end">
                        <img src="/img/jeep_gunner.png" width="575" class="d-block" alt="Jeep Gunner">
                        <img src="/img/orange_burst.png" class="burst" width="800" alt="">
                    </div>
                </div>
            </div>

            <h3 class="font-special with-horizontal-divider text-center pb-4 mb-5 mb-xl-8">
                Why <span class="text-primary">join</span> the 36th?
            </h3>

            <div class="row justify-content-center">
                <div class="col-xl-4 mb-5 mb-xl-0">
                    <div class="box">
                        <div class="box-header">
                            <h6 class="fw-bold">Active</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <img src="/img/logo.png" height="90" alt="" class="d-inline-block me-4">

                            <div class="d-inline-block text-start">
                                <h4 class="font-special">
                                    <span class="text-primary pe-1">75+</span>
                                    members
                                </h4>

                                <small class="text-uppercase fw-bold">Active Community</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 mb-5 mb-xl-0">
                    <div class="box">
                        <div class="box-header">
                            <h6 class="fw-bold">Family</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <div class="d-flex">
                                <img src="/svg/support.svg" alt="" height="90" class="me-4">

                                <div class="text-start">
                                    <h4 class="font-special">
                                        <span class="text-primary">Support</span>
                                        System
                                    </h4>

                                    <small class="text-uppercase fw-bold">We take care of our members and their families when in need</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="box">
                        <div class="box-header">
                            <h6 class="fw-bold">Fun</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <div class="d-flex">
                                <img src="/svg/event.svg" alt="" height="90" class="me-4">

                                <div class="text-start">
                                    <h4 class="font-special">
                                        <span class="text-primary">Team</span>
                                        Events
                                    </h4>

                                    <small class="text-uppercase fw-bold">Regularly scheduled events, great times, and great prizes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-darkest py-7">
        <div class="container">
            {{> sliders/sponsor }}
        </div>
    </section>

    <section class="bg-2 py-5 py-xl-10">
        <div class="container z-1 position-relative">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="position-relative">
                        <h2 class="font-special mb-3">Get In Touch</h2>

                        <div class="ms-6">
                            <p><span class="font-special me-2">Email:</span> contact@thefighting36th.com</p>
                            <p><span class="font-special me-2">Sponsors:</span> sponsorships@thefighting36th.com</p>
                            <p><span class="font-special me-2">Patreon:</span> <a href="#">https://patreon.com/thefighting36th</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="#" method="post">
                        <div class="row mb-3">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" placeholder="Your Name" class="form-control form-control">
                            </div>

                            <div class="col-sm-6">
                                <input type="email" placeholder="Your Email" class="form-control">
                            </div>
                        </div>

                        <textarea name="message" id="message" class="form-control mb-4" rows="5" placeholder="Your Message"></textarea>

                        <button class="btn btn-special">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer/index }}