{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-10 z-n1">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Unit <span class="text-primary">Roster</span></h1>
        {{> breadcrumbs title="Unit Roster" }}
    </div>
</section>

<main class="mt-xl-n6 roster-page">
    <div class="container mb-3 mb-xl-5">
        <h4 class="font-special text-center mb-5">Unit Leadership</h4>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <ul class="list-unstyled roster mb-7">
                    {{#each roster.unitLeaders}}
                        {{> roster/member member=this }}
                    {{/each}}
                </ul>
            </div>
        </div>

        <h4 class="font-special text-center mb-5">Battalion Leadership</h4>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <ul class="list-unstyled roster mb-7">
                    {{#each roster.battalionLeaders}}
                        {{> roster/member member=this }}
                    {{/each}}
                </ul>
            </div>
        </div>

        {{#each roster.companies}}
            <h5 class="font-special text-center mb-5">{{@key}}</h5>

            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <ul class="list-unstyled roster">
                        {{#each this.companyLeaders}}
                            {{> roster/member member=this }}
                        {{/each}}

                        {{#each this.platoons}}
                            <li class="bg-transparent p-3 text-center border-0 my-3">
                                <h6 class="font-special">{{@key}}</h6>
                            </li>

                            {{#if this.platoonLeader}}
                                {{> roster/member member=this.platoonLeader }}
                            {{/if}}

                            {{#if this.platoonSergeant}}
                                {{> roster/member member=this.platoonSergeant }}
                            {{/if}}

                            {{#each this.squads}}
                                <li class="bg-transparent p-3 text-center border-0">
                                    <h6 class="font-secondary m-0">{{@key}}</h6>
                                </li>

                                {{#if this.squadLeader}}
                                    {{> roster/member member=this.squadLeader}}
                                {{/if}}

                                {{#each this.fireTeamLeaders}}
                                    {{> roster/member member=this}}
                                {{/each}}

                                {{#each this.squadMembers}}
                                    {{> roster/member member=this}}
                                {{/each}}
                            {{/each}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</main>