{{> header/index }}

<section class="page-info bg-4 py-6 py-sm-8 py-lg-10 py-xl-12">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Sponsorships</h1>
        {{> breadcrumbs title="Sponsorships" }}
    </div>
</section>

<main>
</main>