{{> header/index }}

<section class="page-info bg-4 py-12">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Merch <span class="text-primary">Store</span></h1>
        {{> breadcrumbs title="Merch Store" }}
    </div>
</section>

<main>
</main>