{{> header/index }}

<section class="page-info bg-4 py-12">
    <div class="container z-1 position-relative">
        <h1 class="page-title">Gameplay <span class="text-primary">Streams</span></h1>
        {{> breadcrumbs title="Gameplay Streams" }}
    </div>
</section>

<main>
</main>