<div class="container pb-5 pb-md-6 pb-lg-7">
    <div class="row justify-content-between">
        <div class="col-lg-6 mb-6 mb-lg-0">
            <img src="/img/logo.png" alt="" width="70" class="mb-4">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis nulla,
                euismod auctor tortor at, congue aliquet diam. Fusce pharetra scelerisque est facilisis
                condimentum. Sed quis odio vulputate, viverra velit quis, imperdiet ex.
            </p>

            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="col-auto">
            <h4 class="font-special mb-3">Quick <span class="text-primary">Links</span></h4>

            <ul class="list-unstyled mb-0 footer-links">
                <li><a href="#">Unit History</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Donations</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Application</a></li>
            </ul>
        </div>
    </div>
</div>