<nav class="navbar navbar-expand-xl py-0">
    <div class="container">
        <a href="/" class="d-xl-none pt-3 pb-3">
            <img src="/img/logo.png" alt="" height="60">
        </a>

        <button id="hamburger" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            <nav class="d-xl-flex flex-grow-1 align-items-center font-secondary">
                <ul class="list-unstyled mb-0 d-xl-flex ml-0 me-auto">
                    <li><a href="/">Home</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                </ul>

                <div class="logo d-none d-xl-block">
                    <a href="/"><img src="/img/logo.png" alt="Logo" width="165"></a>
                </div>

                <ul class="list-unstyled mb-2 mb-xl-0 d-xl-flex ms-auto">
                    <li>
                        <a href="/streamers">Streamers</a>
                        <ul class="list-unstyled mb-0 d-none d-xl-block submenu">
                            <li><a href="#">Battlefield</a></li>
                        </ul>
                    </li>
                    <li><a href="/apply">Apply</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>