<article class="card news-article">
    <img src="/img/article_example.jpg" alt="Article Example" class="card-img-top">

    <div class="card-header mt-4 tags">
        <ul class="list-unstyled m-0">
            <li><a class="btn btn-parallelogram" href="#">Shooter</a></li>
            <li><a class="btn btn-parallelogram" href="#">Action</a></li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title"><a href="#">Welcome play for everyone zombie</a></h5>

        <div class="author-info">
            By <a class="text-muted" href="#">Wiggls</a> June 8, 2021
        </div>

        <p class="card-text my-4">
            Donec orci enim, bibendum a augue quis, aliquet cursus quam.
            Pellentesque pulvi condimentum dictum, sapien nibh auctor tortoris vulputate sapien tortor et velit.
            Sed nulla nisi, congue eu quam vel, molestie grvida ipsum. Curabitr ut lacus vitae tellus lacinia pretium...
        </p>
    </div>

    <div class="card-footer py-4 d-flex justify-content-between">
        <a href="#" class="read-more">Read More</a>

        <div class="news-share">
            Share:
            <div class="d-inline-block">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</article>