<div class="row g-3 font-secondary">
    <div class="col-auto">
        <i class="fas fa-tag text-primary"></i>
        <strong class="text-uppercase">Tags:</strong>
    </div>

    <div class="col-auto">
        <ul class="article-tags list-unstyled row g-2 mb-0">
            <li class="col-auto"><a href="#" class="text-decoration-none text-uppercase link-muted fw-normal">dota2</a></li>
            <li class="col-auto"><a href="#" class="text-decoration-none text-uppercase link-muted fw-normal">esports</a></li>
            <li class="col-auto"><a href="#" class="text-decoration-none text-uppercase link-muted fw-normal">matches</a></li>
        </ul>
    </div>
</div>