<aside class="news-sidebar col-xl z-1">
    <div class="p-xl-4">
        {{> news/widgets/author }}
        {{> news/widgets/search }}
        {{> news/widgets/categories }}
        {{> news/widgets/articles }}
        {{> news/widgets/tags }}
    </div>
</aside>