<!DOCTYPE html>

<html>

{{> head }}

<body>
    {{> preloader }}

    <div id="site-wrapper">
        {{{body}}}
        {{> footer/index }}
    </div>

    {{> forms/svgs }}
    {{> scripts }}
</body>

</html>