<div class="swiper-container sponsor-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide text-center">
            <a href="{{ROGUE_ENERGY_URL}}" target="_blank">
                <img src="/img/rogue_energy.png" alt="" height="40">
            </a>
        </div>

        <div class="swiper-slide text-center">
            <a href="{{GRILL_YOUR_ASS_OFF_URL}}" target="_blank">
                <img src="/img/gyao.png" alt="" height="125">
            </a>
        </div>
    </div>
</div>