<div class="widget widget--recent-articles">
    <h5 class="aside-heading my-4">Recent <span class="text-primary">Articles</span></h5>

    <ul>
        <li class="d-flex justify-content-between">
            <div class="pe-3">
                <a href="#"><img src="img/thumbnail_example.jpg" alt="Thumbnail Example" class="rounded"></a>
            </div>

            <div class="d-flex flex-column justify-content-center flex-grow-1">
                <h6><a href="#">Some Title</a></h6>
                <div class="text-muted">JUNE 8, 2021</div>
            </div>
        </li>

        <li class="d-flex justify-content-between">
            <div class="pe-3">
                <a href="#"><img src="img/thumbnail_example.jpg" alt="Thumbnail Example" class="rounded"></a>
            </div>

            <div class="d-flex flex-column justify-content-center flex-grow-1">
                <h6><a href="#">Some Title</a></h6>
                <div class="text-muted">JUNE 8, 2021</div>
            </div>
        </li>
    </ul>
</div>