<div class="widget widget--author">
    <div class="author-info position-relative">
        <img src="/img/author_example.jpg" alt="Author Example" class="d-block mx-auto">
        <h5 class="aside-heading mt-4 mb-3">About the <span class="text-primary">Author</span></h5>
        <p class="text-muted mb-0">Donec orci enim, bibendum a augue quis, aliquet cursus quamPellentesq.</p>
    </div>
</div>