<div class="widget widget--author">
    <div class="author-info position-relative">
        <img src="https://cdn.discordapp.com/avatars/{{author.discord_user_id}}/{{author.discord_avatar_hash}}" alt="{{author.nickname}}" class="d-block mx-auto">
        <h5 class="aside-heading mt-4 mb-3">About the <span class="text-primary">Author</span></h5>
        <p class="text-muted mb-0">{{author.about}}</p>
    </div>
</div>