<div class="widget widget--categories">
    <h5 class="aside-heading my-xl-4">Category <span class="text-primary">Filters</span></h5>

    <ul>
        <li><a href="#">Esports ( 12 )</a></li>
        <li><a href="#">Esports ( 12 )</a></li>
        <li><a href="#">Esports ( 12 )</a></li>
        <li><a href="#">Esports ( 12 )</a></li>
        <li><a href="#">Esports ( 12 )</a></li>
    </ul>
</div>