<form class="py-xl-4 search-form position-relative">
    <input type="text" class="form-control p-xl-2" name="q" placeholder="Search...">
    <button type="submit"><i class="fas fa-search"></i></button>
</form>