<div class="widget widget--tags">
    <h5 class="aside-heading mt-5 mb-4">Tag <span class="text-primary">Search</span></h5>

    <ul>
        {{#each tags}}
            <li><a href="#" class="btn btn-secondary">{{this.tag_name}}</a></li>
        {{/each}}
    </ul>
</div>