<div class="widget widget--tags">
    <h5 class="aside-heading mt-5 mb-4">Tag <span class="text-primary">Search</span></h5>

    <ul>
        <li><a href="#" class="btn btn-secondary">BF5</a></li>
        <li><a href="#" class="btn btn-secondary">Minecraft</a></li>
        <li><a href="#" class="btn btn-secondary">BF6</a></li>
    </ul>
</div>