aside {
  .aside-heading {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    letter-spacing: .9px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 22px;
      background: $primary;
    }

    &:after {
      left: 7px;
      top: -4px;
    }
  }
}