.box {
  text-align: center;
  background: #18191f;
  box-shadow: 0 3px 24px 0 rgba(55, 17, 2, .52);
  position: relative;
  max-width: 414px; // weird, but that' the size of the image
  margin: 0 auto;

  &:hover {
    .box-header {
      img.box-header-hover {
        opacity: 1;
      }
    }
  }

  .box-header {
    background-image: url('/img/box_header.png');
    background-repeat: no-repeat;
    min-height: 48px;
    width: 100%;
    background-position: center;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-top: -7px;

    img.box-header-hover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .3s linear;
      opacity: 0;
      z-index: -1;
    }

    h6 {
      font-size: .9rem;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #dcdcdc;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: .3s linear;
    }
  }

  .box-content {
    padding: 1.75rem 2rem;
  }
}