.btn-primary {
  color: $body-color;
  background: $btn-primary-bg;
  font-family: $font-family-secondary;
  border-top: 2px solid $btn-primary-border-color;
  border-right-width: 0;
  border-bottom: 2px solid $btn-primary-border-color;
  border-left-width: 0;
  box-shadow: $btn-primary-box-shader;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: .5rem 1rem .4rem;
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    color: darken($primary, 10%);
    background-color: inherit;
    border-color: $btn-primary-border-color;
    box-shadow: $btn-primary-box-shader;
  }

  &:hover {
    color: $primary;
  }
}

.btn-special,
.btn-special::before,
.btn-special::after {
  transition: all .3s ease;
}

/**
 * Trapezoidal button
 */
.btn-special {
  color: $body-color;
  background: $primary;
  position: relative;
  border: 0;
  border-radius: 0;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 0;
    width: 0;
    height: 0;
    top: 0;
    border-top: 3.5rem solid $primary;
  }

  &:before {
    left: -1rem;
    border-left: 1rem solid transparent;
  }

  &:after {
    right: -1rem;
    border-right: 1rem solid transparent;
  }

  &:hover {
    background-color: $blue-gray;

    &:before,
    &:after {
      border-top-color: $blue-gray;
    }
  }
}

/**
 * Parallelogram button
 */
.btn-parallelogram {
  font-weight: 800;
  font-family: $font-family-secondary;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .85rem 1.25rem;
  position: relative;
  z-index: 1;
  line-height: 1;
  margin-left: 7px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: skewX(-20deg);
    z-index: -1;
    background-color: $primary;
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      background-color: $blue-gray;
    }
  }
}