.btn-secondary {
  color: $body-color;
  background: $btn-secondary-bg;
  font-family: $font-family-secondary;
  border-top: 2px solid $btn-secondary-border-color;
  border-right-width: 0;
  border-bottom: 2px solid $btn-secondary-border-color;
  border-left-width: 0;
  box-shadow: $btn-secondary-box-shader;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: .5rem 1rem .4rem;
  border-radius: 3px;

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    color: darken($primary, 10%);
    background-color: inherit;
    border-color: $btn-secondary-border-color;
    box-shadow: $btn-secondary-box-shader;
  }

  &:hover {
    color: $primary;
  }
}

.btn-special,
.btn-special::before,
.btn-special::after {
  transition: all .3s ease;
}

.btn-special {
  color: $body-color;
  background: $primary;
  position: relative;
  border: 0;
  border-radius: 0;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 0;
    width: 0;
    height: 0;
    top: 0;
    border-top: 3.5rem solid $primary;
  }

  &:before {
    left: -1rem;
    border-left: 1rem solid transparent;
  }

  &:after {
    right: -1rem;
    border-right: 1rem solid transparent;
  }

  &:hover {
    background-color: #2a2a32;

    &:before,
    &:after {
      border-top-color: #2a2a32;
    }
  }
}