.card {
  .card-title {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;

    a {
      text-decoration: none;
      color: inherit;
      transition: color .3s ease;

      &:hover {
        color: $link-color
      }
    }
  }

  .card-footer {
    background-color: darken($card-bg, 1%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
  }
}