.hero {
  background-image: url('/img/hero_bg.webp');
  background-size: cover;
  margin-top: -1rem;
  height: 350px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 500px;
    background-position: 0 -480px;
  }

  @include media-breakpoint-up(lg) {
    height: 600px;
    background-position: 0 0;
  }

  @include media-breakpoint-up(xl) {
    height: 700px;
    background-position: 0 0;
  }

  @include media-breakpoint-up(xxl) {
    height: 720px;
    background-position: 0 -380px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1f26;
    opacity: .86;
  }

  h2 {
    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 7rem;
    }

    span {
      color: $primary;
    }
  }

  h6 {
    letter-spacing: 10px;
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
  }
}